.app {
  background-color: beige;
}


.cats {
  background-color: blue;
  text-align: center;
}

.dogs {
  background-color: red;
  text-align: center;
}

.menu {
  font-size: 2em;
  background-color: green;
}

.menu_box {
  width: 300px;
  background-color: orange;
  z-index: 1;
  position: absolute;
  
}

.footer {
  justifytext-align: center;-content: center;
  align-items: center;
  font-size: 3em;
  padding: 3em;
}